:root {
	--dark: #141414;
	--light: #dcdcdc;
	--primary: #b40e0e;
}

body {
	background: var(--dark);
	font: 18px 'Segoe UI', sans-serif;
}

.container {
	max-width: 480px;
	margin: 0 auto;
}

.display {
	background: var(--dark);
	color: var(--light);
}

.buttons {
	display: grid;
}

.btn {
	border: 1px solid var(--light);
	background: var(--dark);
	color: var(--light);
}

.btn:focus {
	outline: none;
	border-color: var(--primary);
}
